{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}
<h1> About</h1>
<div class="content">
    <p id="propos">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, est! <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium in, pariatur <br>
    sunt perferendis eos velit omnis blanditiis ratione adipisci numquam! Fugiat aut alias maxime ratione possimus quia totam amet molestias. <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tempore, beatae vel voluptatibus rerum dolor minus nisi id excepturi recusandae.
    </p>
</div>
{% endblock %}