{% extends "base.html" %}

{% load static%}
{% block title %} Home {% endblock %}

{% block content %}
<div style="display: flex ;width: 100vw;justify-content: center;">
    <img class="ex" src="{% static 'images/massee.png'%}" style="width: 45vw;">
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;padding-top: 5rem;">


<h1> Le soleil relaxation</h1>
<h2>Venez vous détendre et vous relaxer chez nous</h2>

<img id="fond" src="{% static 'images/soleil.png'%}" >

<button class="rdv" > Prendre RDV</button>
</div>
</div>
{% endblock %}