{% extends "base.html" %}
{% load static%}
{% block title %} Prestations {% endblock %}

{% block content %}
<h1> Nos prestations</h1>

<div class="prestation">
    <div class="longueur">
    <div  class="presta">
        <h2>Massage classique</h2> <br> <br> <br>
        <img class="preview" src="{% static 'images/bougie1.png' %}" > <br> <br>
        <p> Plongez dans une détente profonde avec des mouvements doux et 
            fluides qui relâchent vos tensions.</p>
            <br> 
            <button class="rdv" > Prendre RDV</button>
            <br>
            <h2>Prix:100€</h2>
    </div>
    <img src="{% static 'images/massee2.jpg' %}" class="img_pres ex">
    </div>
    
    <div class="longueur">
    <div class="presta">
        <h2>Massage chinois</h2> <br><br> <br>
        <img class="preview" src="{% static 'images/massage1.png'%}" > <br> <br> 
        <p>
            Stimulez vos énergies vitales avec des 
            pressions précises sur des points stratégiques de votre corps
        </p>
        <br> 
        <button class="rdv" > Prendre RDV</button>
        <br>
        <h2>Prix:100€</h2>
    </div>
    <img src="{% static 'images/bougie1.png' %}" class="img_pres ex">

</div>
<div class="longueur">
    <div class="presta">
        <h2>Massage thailandais</h2> <br> <br> <br>
        <img class="preview" src="{% static 'images/massage2.png'%}" > <br> <br>
        <p>
            Un mélange unique d'étirements et de pressions qui revitalisent le corps et l'esprit.
           "Idéal pour améliorer la flexibilité et libérer les tensions.
        </p>
        <br> 
        <button class="rdv" > Prendre RDV</button>
        <br>
        <h2>Prix:100€</h2>

    </div>
    <img src="{% static 'images/massee3.jpg' %}" class="img_pres ex">
</div>
</div>

{% endblock %}