{% extends "base.html" %}
{% load static%}
{% block title %} Prestations {% endblock %}

{% block content %}
<h1> Nos prestations</h1>

<div class="content">

    <div  class="presta">
        <h2>Massage classique</h2> <br> <br> <br>
        <img class="preview" src="{% static 'images/bougie1.png ' %}" >
        <p> Plongez dans une détente profonde avec des mouvements doux et 
            fluides qui relâchent vos tensions.</p>
    </div>
    <div class="presta">
        <h2>Massage chinois</h2> <br><br> <br>
        <img class="preview" src="{% static 'images/massage1.png  '%}" >
        <p>
            Stimulez vos énergies vitales avec des 
            pressions précises sur des points stratégiques de votre corps
        </p>
    </div>
    <div class="presta">
        <h2>Massage thailandais</h2> <br> <br> <br>
        <img class="preview" src="{% static 'images/massage2.png '%}" >
        <p>
            Un mélange unique d'étirements et de pressions qui revitalisent le corps et l'esprit.
            <br> "Idéal pour améliorer la flexibilité et libérer les tensions.
        </p>

    </div>
    <div  class="presta">

    </div>
    <div class="presta">


    </div>
    <div class="presta">


    </div>
    <div class="presta">


    </div>

</div>

{% endblock %}